In [21]:
!python --version

Python 3.12.4

# MySQL connection with jupyter notebook

### install mysql-connector-python

In [7]:
#mysql connection with python
%conda install -c anaconda mysql-connector-python -y

ValueError: The python kernel does not appear to be a conda environment.  Please use ``%pip install`` instead.

### Connection with mysql

In [3]:
import mysql.connector as sql
conn = sql.connect(
    host='localhost', 
    user='root', 
    password='shashi123',
    database= 'cap4770',  
    use_pure = True)

conn

InterfaceError: 2003: Can't connect to MySQL server on 'localhost:3306' (Errno 10061: No connection could be made because the target machine actively refused it)

In [52]:
cursor = conn.cursor(buffered=True)

In [54]:
cursor.execute("use cap4770")
# for x in cursor:
#     print(x)

In [56]:
cursor.execute("show tables")
for x in cursor:
    print(x)

('customer',)
('flight_data',)
('test',)

In [58]:
# install numpy, pandas and matplotlib using pip at terminal

In [60]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [69]:
# SQL query to fetch data from MySQL table
query = "select * from flight_data limit 10" #top 10 records of flight_data 

# Fetch data into DataFrame
df = pd.read_sql(query, conn)

# Close the MySQL connection
# connection.close()

/var/folders/r4/yz3dd24127zb2x7mf_0wnfsj0lvwdn/T/ipykernel_94343/880976060.py:5: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, conn)

In [81]:
# for selecting only 50K records, since it was not feasible to upload the whole number of records on the canvas.
# df.shape 
# df_first_50000 = df.head(50000)
# df_first_50000.to_csv('flight_data_since2018.csv', index=False)

In [79]:
# Close the MySQL connection
conn.close()

In [ ]:
df_fd = pd.read_csv('../data/flight_data/flight_data_since2018.csv') # ~ 1.8M records, 70 features
df_hd_reg = pd.read_csv('../data/volusia_county_house_data/house_data_reg.csv'); # ~50.8k records, 21 features
df_hd_clf = pd.read_csv('../data/volusia_county_house_data/house_data_clf.csv'); # ~76.5k records, 29 features

In [ ]:
df_fd.info()

In [ ]:
df_fd.columns

In [ ]:
df_fd.head()

In [ ]:
df_hd_reg.info()

In [ ]:
df_hd_clf.info()

In [ ]:
df_hd_reg.columns

In [ ]:
df_hd_clf.columns

In [ ]:
df_hd_reg.head()

In [ ]:
df_hd_clf.head()

In [ ]:
query = """select * from house_data_reg"""
df_hd_reg = pd.read_sql(query, conn)
df_hd_reg

In [ ]:
query = """select * from house_data_clf"""
df_hd_clf = pd.read_sql(query, conn)
df_hd_clf

In [ ]:
query = """select * from flight_data"""
df_fd = pd.read_sql(query, conn)
df_fd

In [ ]:
df_fd

In [ ]:
import pandas as pd

Movie = pd.read_csv('../data/movies.csv')
Movie

In [ ]:
Movie['ReleaseDate'] = pd.to_datetime(Movie['ReleaseDate'], format='%d-%b-%y')
Movie

In [ ]:
# SELECT Title
# FROM Movie
# WHERE Rating = "G"
Movie.query("Rating == 'G' ")['Title']

In [ ]:

# SELECT Title 
# FROM Movie
# WHERE ReleaseDate > "2020-01-01"

Movie.query("ReleaseDate > '2020-01-01' ")['Title']

In [ ]:
SELECT Title, Rating
FROM Movie
WHERE Rating In ("G", "PG")
 
Movie.query(" Rating == 'G' or Rating == 'PG' ")[['Title', 'Rating']]

In [ ]:
# SELECT Title
# FROM Movie 
# WHERE Rating = "PG-13" and ReleaseDate > "2008-01-01" 

Movie.query(" Rating == 'PG-13' and ReleaseDate > '2008-01-01' ")['Title']

In [ ]:
# SELECT Title, ReleaseDate
# FROM Movie
# WHERE Budget > Gross


Movie.query("Budget > Gross")[['Title', 'ReleaseDate']]

In [ ]:
# SELECT Title
# FROM Movie
# WHERE Budget < Gross AND Rating = "G"

In [ ]:
# SELECT Title, Year, Budget
# FROM Movie
# WHERE Budget > 300000000


# Movie.query("Budget > 300000000")['Title']