In [1]:
!python --version

Python 3.13.5

# MySQL connection with jupyter notebook

### install mysql-connector-python

In [12]:
#mysql connection with python
!conda install -c anaconda mysql-connector-python -y

### Connection with mysql

In [ ]:
try:
    import mysql.connector as sql
    conn = sql.connect(
        host='localhost', 
        user='root', 
        password='cap4770',
        database= 'cap4770',  
        use_pure = True)
    
    cursor = conn.cursor(buffered=True)
    cursor.execute("use cap4770")
    
    # Check what tables are available
    cursor.execute("show tables")
    tables = cursor.fetchall()
    print("Available tables in the database:")
    for table in tables:
        print(f"- {table[0]}")
    
except Exception as e:
    print(f"Database connection error: {e}")
    print("Will work with CSV file instead.")

In [58]:
# install numpy, pandas and matplotlib using pip at terminal

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

# Storm Events Data Analysis

Let's explore the storm events data from the CSV file and database.

In [3]:
# Read the storm events CSV file directly
storm_df = pd.read_csv('StormEvents_details-ftp_v1.0_d2011_c20250520.csv')

# Display basic information about the dataset
print("Dataset Shape:", storm_df.shape)
print("\nColumn Names:")
print(storm_df.columns.tolist())
print("\nFirst few rows:")
storm_df.head()

Dataset Shape: (79091, 51)

Column Names:
['BEGIN_YEARMONTH', 'BEGIN_DAY', 'BEGIN_TIME', 'END_YEARMONTH', 'END_DAY', 'END_TIME', 'EPISODE_ID', 'EVENT_ID', 'STATE', 'STATE_FIPS', 'YEAR', 'MONTH_NAME', 'EVENT_TYPE', 'CZ_TYPE', 'CZ_FIPS', 'CZ_NAME', 'WFO', 'BEGIN_DATE_TIME', 'CZ_TIMEZONE', 'END_DATE_TIME', 'INJURIES_DIRECT', 'INJURIES_INDIRECT', 'DEATHS_DIRECT', 'DEATHS_INDIRECT', 'DAMAGE_PROPERTY', 'DAMAGE_CROPS', 'SOURCE', 'MAGNITUDE', 'MAGNITUDE_TYPE', 'FLOOD_CAUSE', 'CATEGORY', 'TOR_F_SCALE', 'TOR_LENGTH', 'TOR_WIDTH', 'TOR_OTHER_WFO', 'TOR_OTHER_CZ_STATE', 'TOR_OTHER_CZ_FIPS', 'TOR_OTHER_CZ_NAME', 'BEGIN_RANGE', 'BEGIN_AZIMUTH', 'BEGIN_LOCATION', 'END_RANGE', 'END_AZIMUTH', 'END_LOCATION', 'BEGIN_LAT', 'BEGIN_LON', 'END_LAT', 'END_LON', 'EPISODE_NARRATIVE', 'EVENT_NARRATIVE', 'DATA_SOURCE']

First few rows:

,BEGIN_YEARMONTH,BEGIN_DAY,BEGIN_TIME,END_YEARMONTH,END_DAY,END_TIME,EPISODE_ID,EVENT_ID,STATE,STATE_FIPS,...,END_RANGE,END_AZIMUTH,END_LOCATION,BEGIN_LAT,BEGIN_LON,END_LAT,END_LON,EPISODE_NARRATIVE,EVENT_NARRATIVE,DATA_SOURCE
0,201102,27,300,201102,27,1500,49358,289076,NEW HAMPSHIRE,33,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,A weak area of low pressure moved eastward out...,A total of 6 to 8 inches of snow fell across H...,CSV
1,201101,18,630,201101,18,1630,47655,277847,NEW HAMPSHIRE,33,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Area of low pressure developed and moved up th...,Between 6 to 8 inches of snow fell across East...,CSV
2,201101,21,400,201101,21,1200,47661,277878,NEW HAMPSHIRE,33,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,An area of low pressure lifted northeast throu...,Between 5 to 7 inches of snow fell across East...,CSV
3,201101,27,100,201101,27,1000,47986,280010,NEW HAMPSHIRE,33,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,A strong low pressure system moved up the coas...,Four to nine inches of snow fell across easter...,CSV
4,201101,12,200,201101,12,2200,48019,280156,NEW HAMPSHIRE,33,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,A developing nor'easter coastal storm dumped u...,Fifteen to twenty inches of snow fell across e...,CSV

In [4]:
# Display data types and basic information
print("Data Types:")
print(storm_df.dtypes)
print("\nDataset Info:")
storm_df.info()

# Show summary statistics for numerical columns
print("\nSummary Statistics:")
storm_df.describe()

Data Types:
BEGIN_YEARMONTH         int64
BEGIN_DAY               int64
BEGIN_TIME              int64
END_YEARMONTH           int64
END_DAY                 int64
END_TIME                int64
EPISODE_ID              int64
EVENT_ID                int64
STATE                  object
STATE_FIPS              int64
YEAR                    int64
MONTH_NAME             object
EVENT_TYPE             object
CZ_TYPE                object
CZ_FIPS                 int64
CZ_NAME                object
WFO                    object
BEGIN_DATE_TIME        object
CZ_TIMEZONE            object
END_DATE_TIME          object
INJURIES_DIRECT         int64
INJURIES_INDIRECT       int64
DEATHS_DIRECT           int64
DEATHS_INDIRECT         int64
DAMAGE_PROPERTY        object
DAMAGE_CROPS           object
SOURCE                 object
MAGNITUDE             float64
MAGNITUDE_TYPE         object
FLOOD_CAUSE            object
CATEGORY              float64
TOR_F_SCALE            object
TOR_LENGTH            float64
TOR_WIDTH             float64
TOR_OTHER_WFO          object
TOR_OTHER_CZ_STATE     object
TOR_OTHER_CZ_FIPS     float64
TOR_OTHER_CZ_NAME      object
BEGIN_RANGE           float64
BEGIN_AZIMUTH          object
BEGIN_LOCATION         object
END_RANGE             float64
END_AZIMUTH            object
END_LOCATION           object
BEGIN_LAT             float64
BEGIN_LON             float64
END_LAT               float64
END_LON               float64
EPISODE_NARRATIVE      object
EVENT_NARRATIVE        object
DATA_SOURCE            object
dtype: object

Dataset Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 79091 entries, 0 to 79090
Data columns (total 51 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   BEGIN_YEARMONTH     79091 non-null  int64
 1   BEGIN_DAY           79091 non-null  int64
 2   BEGIN_TIME          79091 non-null  int64
 3   END_YEARMONTH       79091 non-null  int64
 4   END_DAY             79091 non-null  int64
 5   END_TIME            79091 non-null  int64
 6   EPISODE_ID          79091 non-null  int64
 7   EVENT_ID            79091 non-null  int64
 8   STATE               79091 non-null  object
 9   STATE_FIPS          79091 non-null  int64
 10  YEAR                79091 non-null  int64
 11  MONTH_NAME          79091 non-null  object
 12  EVENT_TYPE          79091 non-null  object
 13  CZ_TYPE             79091 non-null  object
 14  CZ_FIPS             79091 non-null  int64
 15  CZ_NAME             79091 non-null  object
 16  WFO                 79091 non-null  object
 17  BEGIN_DATE_TIME     79091 non-null  object
 18  CZ_TIMEZONE         79091 non-null  object
 19  END_DATE_TIME       79091 non-null  object
 20  INJURIES_DIRECT     79091 non-null  int64
 21  INJURIES_INDIRECT   79091 non-null  int64
 22  DEATHS_DIRECT       79091 non-null  int64
 23  DEATHS_INDIRECT     79091 non-null  int64
 24  DAMAGE_PROPERTY     65398 non-null  object
 25  DAMAGE_CROPS        65022 non-null  object
 26  SOURCE              79091 non-null  object
 27  MAGNITUDE           44727 non-null  float64
 28  MAGNITUDE_TYPE      27345 non-null  object
 29  FLOOD_CAUSE         7152 non-null   object
 30  CATEGORY            16 non-null     float64
 31  TOR_F_SCALE         2074 non-null   object
 32  TOR_LENGTH          2074 non-null   float64
 33  TOR_WIDTH           2074 non-null   float64
 34  TOR_OTHER_WFO       384 non-null    object
 35  TOR_OTHER_CZ_STATE  384 non-null    object
 36  TOR_OTHER_CZ_FIPS   384 non-null    float64
 37  TOR_OTHER_CZ_NAME   384 non-null    object
 38  BEGIN_RANGE         52207 non-null  float64
 39  BEGIN_AZIMUTH       52207 non-null  object
 40  BEGIN_LOCATION      52207 non-null  object
 41  END_RANGE           52207 non-null  float64
 42  END_AZIMUTH         52207 non-null  object
 43  END_LOCATION        52207 non-null  object
 44  BEGIN_LAT           52207 non-null  float64
 45  BEGIN_LON           52207 non-null  float64
 46  END_LAT             52207 non-null  float64
 47  END_LON             52207 non-null  float64
 48  EPISODE_NARRATIVE   79091 non-null  object
 49  EVENT_NARRATIVE     54792 non-null  object
 50  DATA_SOURCE         79091 non-null  object
dtypes: float64(11), int64(15), object(25)
memory usage: 30.8+ MB

Summary Statistics:

,BEGIN_YEARMONTH,BEGIN_DAY,BEGIN_TIME,END_YEARMONTH,END_DAY,END_TIME,EPISODE_ID,EVENT_ID,STATE_FIPS,YEAR,...,CATEGORY,TOR_LENGTH,TOR_WIDTH,TOR_OTHER_CZ_FIPS,BEGIN_RANGE,END_RANGE,BEGIN_LAT,BEGIN_LON,END_LAT,END_LON
count,79091.000000,79091.000000,79091.000000,79091.000000,79091.000000,79091.000000,79091.000000,79091.000000,79091.000000,79091.0,...,16.0,2074.000000,2074.000000,384.000000,52207.000000,52207.000000,52207.000000,52207.00000,52207.000000,52207.000000
mean,201105.661921,14.765940,1266.181158,201105.661921,17.142848,1520.211579,52629.991693,314559.899179,31.565943,2011.0,...,1.0,4.021123,243.468645,95.304688,2.168713,2.205164,38.086579,-88.92070,38.084008,-88.908960
std,2.717539,9.383267,704.501080,2.717539,9.320915,625.867758,3615.151336,24495.063745,17.733711,0.0,...,0.0,5.519442,357.190340,68.654988,3.962235,4.013313,4.724869,10.22568,4.722845,10.221412
min,201101.000000,1.000000,0.000000,201101.000000,1.000000,0.000000,45914.000000,266353.000000,1.000000,2011.0,...,1.0,0.010000,1.000000,1.000000,0.000000,0.000000,-14.346600,-170.88680,-14.389300,-170.829200
25%,201104.000000,6.000000,702.000000,201104.000000,9.000000,1200.000000,49632.000000,293771.500000,19.000000,2011.0,...,1.0,0.570000,50.000000,49.000000,0.000000,1.000000,34.830000,-95.60000,34.830000,-95.590850
50%,201106.000000,15.000000,1500.000000,201106.000000,19.000000,1640.000000,52264.000000,314604.000000,30.000000,2011.0,...,1.0,2.000000,100.000000,89.000000,1.000000,1.000000,38.252000,-88.19320,38.253800,-88.180000
75%,201107.000000,23.000000,1815.000000,201107.000000,25.000000,1950.000000,55588.000000,335392.500000,45.000000,2011.0,...,1.0,4.900000,250.000000,125.500000,3.000000,3.000000,41.320150,-81.62000,41.320550,-81.609550
max,201112.000000,31.000000,2359.000000,201112.000000,31.000000,2359.000000,79994.000000,588494.000000,99.000000,2011.0,...,1.0,41.790000,2900.000000,510.000000,181.000000,181.000000,66.905100,144.85850,66.911400,144.759000

In [5]:
# Check for missing values
print("Missing Values:")
missing_values = storm_df.isnull().sum()
print(missing_values[missing_values > 0])

# Display sample of data with better formatting
print("\nSample of the data:")
storm_df.head(10)

Missing Values:
DAMAGE_PROPERTY       13693
DAMAGE_CROPS          14069
MAGNITUDE             34364
MAGNITUDE_TYPE        51746
FLOOD_CAUSE           71939
CATEGORY              79075
TOR_F_SCALE           77017
TOR_LENGTH            77017
TOR_WIDTH             77017
TOR_OTHER_WFO         78707
TOR_OTHER_CZ_STATE    78707
TOR_OTHER_CZ_FIPS     78707
TOR_OTHER_CZ_NAME     78707
BEGIN_RANGE           26884
BEGIN_AZIMUTH         26884
BEGIN_LOCATION        26884
END_RANGE             26884
END_AZIMUTH           26884
END_LOCATION          26884
BEGIN_LAT             26884
BEGIN_LON             26884
END_LAT               26884
END_LON               26884
EVENT_NARRATIVE       24299
dtype: int64

Sample of the data:

,BEGIN_YEARMONTH,BEGIN_DAY,BEGIN_TIME,END_YEARMONTH,END_DAY,END_TIME,EPISODE_ID,EVENT_ID,STATE,STATE_FIPS,...,END_RANGE,END_AZIMUTH,END_LOCATION,BEGIN_LAT,BEGIN_LON,END_LAT,END_LON,EPISODE_NARRATIVE,EVENT_NARRATIVE,DATA_SOURCE
0,201102,27,300,201102,27,1500,49358,289076,NEW HAMPSHIRE,33,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,A weak area of low pressure moved eastward out...,A total of 6 to 8 inches of snow fell across H...,CSV
1,201101,18,630,201101,18,1630,47655,277847,NEW HAMPSHIRE,33,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Area of low pressure developed and moved up th...,Between 6 to 8 inches of snow fell across East...,CSV
2,201101,21,400,201101,21,1200,47661,277878,NEW HAMPSHIRE,33,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,An area of low pressure lifted northeast throu...,Between 5 to 7 inches of snow fell across East...,CSV
3,201101,27,100,201101,27,1000,47986,280010,NEW HAMPSHIRE,33,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,A strong low pressure system moved up the coas...,Four to nine inches of snow fell across easter...,CSV
4,201101,12,200,201101,12,2200,48019,280156,NEW HAMPSHIRE,33,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,A developing nor'easter coastal storm dumped u...,Fifteen to twenty inches of snow fell across e...,CSV
5,201110,29,1500,201110,30,800,57676,350515,NEW HAMPSHIRE,33,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,A rare and historic October Nor'easter brought...,Nine to twenty-one inches of snow fell across ...,CSV
6,201108,28,853,201108,28,1453,57538,345212,NEW HAMPSHIRE,33,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Hurricane Irene formed east of the Caribbean i...,Trees and wires were downed in Pelham on Mount...,CSV
7,201110,30,120,201110,30,120,57676,352765,NEW HAMPSHIRE,33,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,A rare and historic October Nor'easter brought...,"A tree was downed on Route 3 near exit 2, bloc...",CSV
8,201107,21,1600,201107,21,1800,55656,333708,NEW HAMPSHIRE,33,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,A strong upper level ridge brought very hot te...,The Automated Weather Observation System at Bo...,CSV
9,201102,1,900,201102,2,1200,48483,283307,NEW HAMPSHIRE,33,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,A series of low pressure centers impacted the ...,A total of 10-14 inches of snow fell across Hi...,CSV

In [ ]:
# If the data has been uploaded to the database, query it from there
# First, let's reconnect to the database
try:
    import mysql.connector as sql
    conn = sql.connect(
        host='localhost', 
        user='root', 
        password='cap4770',
        database= 'cap4770',  
        use_pure = True)
    
    cursor = conn.cursor(buffered=True)
    cursor.execute("use cap4770")
    
    # Check what tables are available
    cursor.execute("show tables")
    tables = cursor.fetchall()
    print("Available tables in the database:")
    for table in tables:
        print(f"- {table[0]}")
    
except Exception as e:
    print(f"Database connection error: {e}")
    print("Will work with CSV file instead.")

Available tables in the database:
- stormevents_details

In [8]:
# Query storm events data from database (assuming table name is 'storm_events' or similar)
# You may need to adjust the table name based on how you uploaded the data

try:
    # Try common table names for storm events data
    possible_table_names = ['storm_events', 'stormevents', 'storm_data', 'StormEvents_details']
    
    storm_table_name = None
    for table_name in possible_table_names:
        try:
            cursor.execute(f"SELECT COUNT(*) FROM {table_name}")
            count = cursor.fetchone()[0]
            storm_table_name = table_name
            print(f"Found storm events table: {table_name} with {count} records")
            break
        except:
            continue
    
    if storm_table_name:
        # Query the first 10 records from the database
        query = f"SELECT * FROM {storm_table_name} LIMIT 10"
        storm_df_db = pd.read_sql(query, conn)
        print(f"\nData from database table '{storm_table_name}':")
        print(f"Shape: {storm_df_db.shape}")
        storm_df_db.head()
    else:
        print("Storm events table not found in database. Please check the table name.")
        
except Exception as e:
    print(f"Error querying database: {e}")
    print("Working with CSV file data instead.")

Found storm events table: StormEvents_details with 10643 records

Data from database table 'StormEvents_details':
Shape: (10, 51)

Data from database table 'StormEvents_details':
Shape: (10, 51)

C:\Users\Alex\AppData\Local\Temp\ipykernel_2828\1253573079.py:22: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  storm_df_db = pd.read_sql(query, conn)